:root {
    font-family: 'Aleo', serif;
}


.logo {
    padding: 10px;
    height: 80px;
}


.nav-background {
    background-color: #88BDD8A6;
}

.nav {
    align-content: flex-end;
    padding-bottom: 8px;
}

.btn-nav {
    color: white;
    background-color: #54595F;
    padding: 3px;
    margin: 6px;
}

.btn-nav:active {
    color: #8DA9B0;
}

.btn-nav:hover {
    color: #8DA9B0;
}

.btn-body {
    margin-top: 25px;
    margin-bottom: 25px;

}

.btn-color {
    background-color: #6EC1E4;
    border: #6EC1E4;
}

.btn-body:hover {
    background-color: #8DA9B0;
    border: #8DA9B0;
}


.uppercase {
    text-transform: uppercase;

}

._text {
    margin-top: 25px;

}


.footer-space {
    margin-top: 25px;
}


.footer-text {
    color: white;
    padding: 5px;
    margin-left: 20px;
    font-size: 15px;
}
