.logo {
    padding: 10px;
    height: 80px;
}


.nav-background {
    background-color: #2d2e30;
}

.nav {
    align-content: flex-end;
    padding-bottom: 8px;
}

.btn-nav {
    color: white;
    background-color: #444444;
    padding: 3px;
    margin: 6px;
}

.btn-nav:active {
    color: coral;
}

.btn-nav:hover {
    color: coral;
}

.btn-body {
    margin-top: 25px;
    margin-bottom: 25px;
}

.uppercase {
    text-transform: uppercase;

}

._text {
    margin-top: 25px;

}


.footer-space {
    margin-top: 25px;
}


.footer-text {
    color: white;
    padding: 5px;
    margin-left: 20px;
    font-size: 15px;
}
