{% extends "base.html" %}
{% block title %}Customer Detail View{% endblock %}

{% block content %}
<h1> {{ customer.name }} {{ customer.surname }}</h1>

{% for massage in massage_list %}
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ massage.massage_date }}
        <a class="btn btn-primary" href="{% url 'massage_detail' pk=massage.pk %}">View</a>
        <!-- add add massage button -->
    </li>
</ul>
{% endfor %}

{% endblock %}
