{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Customer Detail View" %}{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="p-4">
            <div class="row p-1">
                <h4 class="col-sm-8 fw-light uppercase">{{ customer.name }} {{ customer.surname }}</h4>
                <hr>
            </div>
            {#            <div class="row">#}
            {#                <div class="col-sm-4">{% translate "Name and Surname of Customer:" %}</div>#}
            {#                <div class="col-sm-8">{{ customer.name }} {{ customer.surname }}</div>#}
            {#            </div> <!-- name and surname of customer -->#}
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Email" %}:</div>
                <div class="col-sm-8">{{ customer.email }}</div>
            </div> <!-- email -->
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Contact number" %}:</div>
                <div class="col-sm-8">{{ customer.phone }}</div>
            </div> <!-- contact number -->
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Occupation" %}:</div>
                <div class="col-sm-8">{{ customer.occupation }}</div>
            </div> <!-- occupation -->
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Previous massage" %}:</div>
                <div class="col-sm-8">{{ customer.prevoius_massage }}</div>
            </div> <!-- previous massage -->
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Salon choice" %}:</div>
                <div class="col-sm-8">{{ customer.salon_choice }}</div>
            </div> <!-- salon choice -->
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Frequency" %}:</div>
                <div class="col-sm-8">{{ customer.frequency }}</div>
            </div> <!-- frequency -->
            <div class="row">
                <div class="col-sm-4 fw-light">{% translate "Refferal" %}:</div>
                <div class="col-sm-8">{{ customer.refferal }}</div>
            </div> <!-- referral -->
            <a class="btn btn-body mt-4"
               href="{% url 'customer_edit' customer_pk=customer.pk %}">{% translate "Edit info" %}</a>
        </div>

    </div>

{% endblock %}
