{% extends "base.html" %}
{% block title %}Customer Detail View{% endblock %}

{% block content %}
    <h1> {{ customer.name }} {{ customer.surname }}'s past massages</h1>
    <a class="btn btn-body btn-color" href="{% url 'customer' customer_pk=customer.pk %}">View customer</a>


        {% for massage in massage_list %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="justify-content-left align-items-center">
                        <div class="fw-lighter">date of massage:</div>
                        <div>{{ massage.start|date:"D d M Y " }}</div>
                        <div class="fw-lighter"> reason for visit:</div>
                        <div>{{ massage.reason_for_visit }}</div>
                    </div>
                    <a class="btn btn-body btn-color" href="{% url 'massage_detail' pk=massage.pk %}">View</a>
                </li>
            </ul>
        {% endfor %}


{% endblock %}
