{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Customer Edit" %}{% endblock %}

{% block content %}
    <form action="." method="post"> <!-- A DOT POSTS TO CURRENT URL -->
        {% csrf_token %}
        <div class="p-4 pb-0">
            <span class="fw-lighter">{% translate "Edit customer" %}:</span>
            <h4 class="fw-light uppercase">{{ customer.name }} {{ customer.surname }}</h4>
            <hr>
        </div>
        <div class="row g-3 p-4">
            <div class="row g-3">
                <div class="col-md-4 fw-light">
                    {{ form.name.errors }}
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="col-md-4 fw-light">
                    {{ form.surname.errors }}
                    {{ form.surname.label_tag }}
                    {{ form.surname }}
                </div>
            </div>
            <div class="col g-3">
                <div class="col-4 pb-2 fw-light">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="col-4 pb-2 fw-light">
                    {{ form.phone.errors }}
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
                <div class="col-4 pb-2 fw-light">
                    {{ form.occupation.errors }}
                    {{ form.occupation.label_tag }}
                    {{ form.occupation }}
                </div>
                <div class="col-4 pb-2 fw-light">
                    {{ form.main_concern.errors }}
                    {{ form.main_concern.label_tag }}
                    {{ form.main_concern }}
                </div>
            </div>
            <div class="row-4 fw-light">
                {{ form.referral.errors }}
                {{ form.referral.label_tag }}
                {{ form.referral }}
            </div>
            <div class="row-4 fw-light">
                {{ form.salon_choice.errors }}
                {{ form.salon_choice.label_tag }}
                {{ form.salon_choice }}
            </div>
            <div class="row-4 fw-light">
                <div class="form-check">
                    {{ form.previous_massage.errors }}
                    {{ form.previous_massage.label_tag }}
                    {{ form.previous_massage }}
                </div>
            </div>
            <div class="row-4 fw-light">
                {{ form.frequency.errors }}
                {{ form.frequency.label_tag }}
                {{ form.frequency }}
            </div>
        </div> <!---  occupation + questions --->
        <div class="col-12 p-4">
            {{ form.non_field_errors }}
            <button type="submit" class="btn btn-body">{% translate "Submit" %}</button>
        </div>

    </form>
{% endblock %}
