{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Customer Detail Massage View" %}{% endblock %}

{% block content %}

    <h1>{% translate "List of massages for:"%} <span class="fw-bold">{{ customer.name }} {{ customer.surname }}</span></h1>
    <a class="btn btn-primary btn-body" href="{% url 'customer' customer_pk=customer.pk %}">{% translate "View customer" %}</a>


    {% for massage in massage_list %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="justify-content-left align-items-center">
                    <div class="fw-lighter">{% translate "date of massage:" %}</div>
                    <div>{{ massage.start|date:"D d M Y " }}</div>
                    <div class="fw-lighter">{% translate "reason for visit:" %}</div>
                    <div>{{ massage.reason_for_visit }}</div>
                </div>
                <a class="btn btn-primary" href="{% url 'massage_detail' pk=massage.pk %}">{% translate "View" %}</a>
            </li>
        </ul>
    {% endfor %}


{% endblock %}
