{% extends "base.html" %}
{% block title %}Alenka masaže{% endblock %}

{% block content %}
    <div>
        <div class="row g-3">
            <div class="row g-3">
                <div class="col-md-4">
                    <p>Appointments for <span class="fw-bold uppercase">{{ therapist.first_name }} - </span><span
                            class="fw=bold">{{ today|date:"l d M Y" }}</span></p>

                </div>
                {% if not massages %}
                    <p>You do not have appointments today.</p>
                {% else %}
                    <ul class="list-group">
                        {% for massage in massages %}

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <p><span class="fw-bold">{{ massage.customer }}</span> at {{ massage.start|time:"H:i" }}
                                </p>
                                <div>
                                    <a class="btn btn-primary" href="{% url 'customer_detail' pk=massage.customer.pk %}">View details
                                    </a>
                                    <a class="btn btn-primary" href="{% url 'massage_edit' pk=massage.pk %}">Edit massage
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
