{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Massage Edit" %}{% endblock %}

{% block content %}

    <form action="." method="post" class="row g-3"> <!-- A DOT POSTS TO CURRENT URL -->
        {% csrf_token %}

        <h1> {% translate "Edit massage for:" %} <span class="fw-bold">{{ massage.customer }}</span></h1>
        <div class='row g-3'>
            <div class="col-md-4">
                {{ form.start.errors }}
                {{ form.start.label_tag }}
                {{ form.start }}
            </div>
            <div class="col-md-4">
                {{ form.therapist.first_name.errors }}
                {{ form.therapist.first_name.label_tag }}
                {{ form.therapist.first_name }}
            </div>
            <div class="row-4">
                {{ form.reason_for_visit.errors }}
                {{ form.reason_for_visit.label_tag }}
                {{ form.reason_for_visit }}
            </div>
            <div class="row-4">
                {{ form.kind.errors }}
                {{ form.kind.label_tag }}
                {{ form.kind }}
            </div>
            <div class="row-4">
                {{ form.notes.errors }}
                {{ form.notes.label_tag }}
                {{ form.notes }}
            </div>
            <div class="row-4">
                {{ form.next_visit.errors }}
                {{ form.next_visit.label_tag }}
                {{ form.next_visit }}
            </div>
            <div class="row-4">
                {{ form.recommendations.errors }}
                {{ form.recommendations.label_tag }}
                {{ form.recommendations }}
            </div>
            <div class="row-4">
                {{ form.personal_notes.errors }}
                {{ form.personal_notes.label_tag }}
                {{ form.personal_notes }}
            </div>
            <div class="row-4">
                {{ form.duration.errors }}
                {{ form.duration.label_tag }}
                {{ form.duration }}
            </div>
            <div class="row-4">
                {{ form.amount.errors }}
                {{ form.amount.label_tag }}
                {{ form.amount }}
            </div>
            <div class="row-4">
                {{ form.discount.errors }}
                {{ form.discount.label_tag }}
                {{ form.discount }}
            </div>
            <div class="row-4">
                {{ form.discount_reason.errors }}
                {{ form.discount_reason.label_tag }}
                {{ form.discount_reason }}
            </div>
            <div class="row-4">
                {{ form.repeat_visit.errors }}
                {{ form.repeat_visit.label_tag }}
                {{ form.repeat_visit }}
            </div>
        </div>
        <div>
            <div class="col-12">
                {{ form.non_field_errors }}
                <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
