{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Massage Edit" %}{% endblock %}

{% block content %}
    <form action="." method="post" class="row g-3"> <!-- A DOT POSTS TO CURRENT URL -->
        {% csrf_token %}
        <div class="p-4 pb-0">
            <span class="fw-lighter"> {% translate "Edit massage for" %}:</span>
            <h4 class="fw-light uppercase">{{ massage.customer.name }} {{ massage.customer.surname }}</h4>
            <hr>
        </div>
        <div class='row g-3 p-4'>
            <div class="col-md-4 fw-light">
                {{ form.start.errors }}
                {{ form.start.label_tag }}
                {{ form.start }}
            </div>
            <div class="col-md-4 fw-light">
                {{ form.therapist.first_name.errors }}
                {{ form.therapist.first_name.label_tag }}
                {{ form.therapist.first_name }}
            </div>
            <div class="row-4 fw-light">
                {{ form.reason_for_visit.errors }}
                {{ form.reason_for_visit.label_tag }}
                {{ form.reason_for_visit }}
            </div>
            <div class="row-4 fw-light">
                {{ form.kind.errors }}
                {{ form.kind.label_tag }}
                {{ form.kind }}
            </div>
            <div class="row-4 fw-light">
                {{ form.notes.errors }}
                {{ form.notes.label_tag }}
                {{ form.notes }}
            </div>
            <div class="row-4 fw-light">
                {{ form.next_visit.errors }}
                {{ form.next_visit.label_tag }}
                {{ form.next_visit }}
            </div>
            <div class="row-4 fw-light">
                {{ form.recommendations.errors }}
                {{ form.recommendations.label_tag }}
                {{ form.recommendations }}
            </div>
            <div class="row-4 fw-light">
                {{ form.personal_notes.errors }}
                {{ form.personal_notes.label_tag }}
                {{ form.personal_notes }}
            </div>
            <div class="row-4 fw-light">
                {{ form.duration.errors }}
                {{ form.duration.label_tag }}
                {{ form.duration }}
            </div>
            <div class="row-4 fw-light">
                {{ form.amount.errors }}
                {{ form.amount.label_tag }}
                {{ form.amount }}
            </div>
            <div class="row-4 fw-light">
                {{ form.discount.errors }}
                {{ form.discount.label_tag }}
                {{ form.discount }}
            </div>
            <div class="row-4 fw-light">
                {{ form.discount_reason.errors }}
                {{ form.discount_reason.label_tag }}
                {{ form.discount_reason }}
            </div>
            <div class="row-4 fw-light">
                {{ form.repeat_visit.errors }}
                {{ form.repeat_visit.label_tag }}
                {{ form.repeat_visit }}
            </div>
        </div>
        <div class="col-12 px-4">
            {{ form.non_field_errors }}
            <button type="submit" class="btn btn-body">{% translate "Submit" %}</button>
        </div>

    </form>
{% endblock %}
