{% extends "base.html" %}
{% block title %}Massage Add New{% endblock %}

{% block content %}

    <form action="." method="post" class="row g-3"> <!-- A DOT POSTS TO CURRENT URL -->
        {% csrf_token %}
        <h1> Today's massage for {{ customer }}</h1>
        <div class='row g-3'>
            <div class="col-md-4">
                {{ form.massage_date.errors }}
                {{ form.massage_date.label_tag }}
                {{ form.massage_date }}
                {{ form.non_field_errors }}
            </div>
            <div class="col-md-4">
                # Therapist
            </div>
            <div class="row-4">
                {{ form.reason_for_visit.errors }}
                {{ form.reason_for_visit.label_tag }}
                {{ form.reason_for_visit }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.kind.errors }}
                {{ form.kind.label_tag }}
                {{ form.kind }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.massage_notes.errors }}
                {{ form.massage_notes.label_tag }}
                {{ form.massage_notes }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.next_visit.errors }}
                {{ form.next_visit.label_tag }}
                {{ form.next_visit }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.recommendations.errors }}
                {{ form.recommendations.label_tag }}
                {{ form.recommendations }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.personal_notes.errors }}
                {{ form.personal_notes.label_tag }}
                {{ form.personal_notes }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.duration.errors }}
                {{ form.duration.label_tag }}
                {{ form.duration }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.amount.errors }}
                {{ form.amount.label_tag }}
                {{ form.amount }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.discount.errors }}
                {{ form.discount.label_tag }}
                {{ form.discount }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.discount_reason.errors }}
                {{ form.discount_reason.label_tag }}
                {{ form.discount_reason }}
                {{ form.non_field_errors }}
            </div>
            <div class="row-4">
                {{ form.repeat_visit.errors }}
                {{ form.repeat_visit.label_tag }}
                {{ form.repeat_visit }}
                {{ form.non_field_errors }}
            </div>
        </div>
        <div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
