{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Report" %}{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="p-4">
            <div class="row p-1">
                <h4 class="col-sm-8 fw-light uppercase"><span
                        class="fw-lighter uppercase">{% translate "Therapist" %}:</span> {{ therapist.first_name }}</h4>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="fw-bold text-break">{% translate "Customer" %}</th>
                    <th scope="col" class="fw-bold text-break">{% translate "Service" %}</th>
                    <th scope="col" class="fw-bold text-break">{% translate "Amount Paid" %}</th>
                    <th scope="col" class="fw-bold text-break">{% translate "Amount Due to Therapist" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for massage in massages %}
                    <tr>
                        <td>{{ massage.customer.surname }}, {{ massage.customer.name }}</td>
                        <td>{{ massage.service.name }}</td>
                        <td>{{ massage.amount }} eur</td>
                        <td>{{ massage.service.payout }} eur</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="col fw-bold uppercase">{% translate "To be paid in total to therapist" %}:
                    </td>
                    <td colspan="4" class="col-sm fw-bold">{{ amount }} eur</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-12 px-4">
            <a class="btn btn-body" href="#">{% translate "Download" %}</a>
        </div>
    </div>
{% endblock %}
