{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Report" %}{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="p-4">
            <div class="row p-1">
                <h4 class="col-sm-8 fw-light uppercase">{{ therapist.first_name }}</h4>
            </div>
            <div class="row">
                {% for massage in massages %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="fw-light"><span
                                class="fw-bold">{{ massage.customer.surname }}</span> , {{ massage.customer.name }}
                        </div>
                        <hr>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-sm-4 fw-light">{% translate "Service" %}:</div>
                            <div class="col-sm-8">{{ massage.service.name }}</div>
                            <div class="col-sm-4 fw-light">{% translate "Amount paid" %}:</div>
                            <div class="col-sm-8">{{ massage.amount }}</div>
                            <div class="col-sm-6 fw-light">{% translate "To be paid to therapist" %}:</div>
                            {#                            <div class="col-sm-8">{{ massage.amount }}</div>#}
                        </div>
                    </li>
                    <hr>
                {% endfor %}
            </div>
            <div class="row">
                <hr>
                <div class="col-sm-4 fw-light">{% translate "To be paid in total to therapist" %}:</div>
                <div class="col-sm-8">{{ amount }}</div>
            </div>

        </div>

    </div>
{% endblock %}
